########################################################
################### NON SYSTEM BLOCKER #################
########################################################
(system_ips) {
    remote_ip 172.19.2.2/32   # hosting-control-caddy
    remote_ip 172.19.2.11/32  # hosting-control-dockersocket
}

(block_non_system) {
    @non_system_ips {
        not {
            import system_ips
        }
    }

    header @non_system_ips Content-Type "text/html; charset=utf-8"
    respond @non_system_ips `<!DOCTYPE html>
    <html>
        <body>
            <p>Virtual server management endpoint is not accessible from your IP address.</p>
            <p>Your IP address: {remote_host}</p>
            <hr>
        </body>
    </html>` 403
}
########################################################
########################################################
########################################################



:80 {
    route {
        # Block non system IPs
        import block_non_system

        
        # Disable caching
        header {
            Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
            Pragma "no-cache"
        }

        # Docker Socket API
        handle_path /dockersocket/* {
            reverse_proxy unix//var/run/docker.sock
        }
        
        # Filebrowser
        handle /filebrowser* {
            reverse_proxy sistema-filebrowser:80
        }

        # WebSSH2
        handle /ssh/* {
            reverse_proxy sistema-webssh2:2222 {
                header_up Authorization "Basic cm9vdDpyb290"
            }
        }

        # Dockge (default)
        handle {
            reverse_proxy sistema-dockge:5001
        }
    }
}