{
    # Global options block
    log {
        output file /var/log/caddy/access.log {
            roll_size 100mb
            roll_keep 5
            roll_keep_for 720h
        }
        format json
    }
}




########################################################
##################### NON VU BLOCKER ###################
########################################################
(allow_only_vu) {
    # Local VU networks
    remote_ip 172.16.0.1/16
    remote_ip 192.168.0.1/16
    remote_ip 10.0.0.1/8

    # VU VPN networks
    remote_ip 193.219.95.0/24
    remote_ip 10.198.0.0/16
    remote_ip 158.129.162.0/24

    # VU KNF external network
    remote_ip 158.129.172.0/24
}
# Traffic blocking function/subroutine
(geo_block_non_vu) {
    @block_non_vu {
        not {
            import allow_only_vu
        }
    }

    header @block_non_vu Content-Type "text/html; charset=utf-8"
    respond @block_non_vu `<!DOCTYPE html>
    <html>
        <body>
            <p>Sistema nepasiekiama iš jūsų IP adreso. Prašome susidiegti VU VPN.</p>
            <p>Daugiau informacijos: <a href="https://www.vu.lt/it/paslaugos/irenginiai-programos-tinklai-ir-spausdinimas/vu-vpn">VU VPN</a></p>
            <p>Jūsų IP adresas: {remote_host}</p>
            <hr>
        </body>
    </html>` 403
}
########################################################
########################################################
########################################################










{$HOSTING_DOMAIN} {
    tls {$TLS_LETSENCRYPT_EMAIL:internal}
    import geo_block_non_vu

    ####### DBGate Endpoint #######
    redir /dbgate /dbgate/ 301
    handle /dbgate/* {
        forward_auth hosting-control-backend:8000 {
            uri /api/checkauth/admin
        }
        reverse_proxy hosting-control-dbgate:3000 {
            header_up X-Forwarded-For {remote_host}
        }
    }



    ####### Docs Endpoint #######
    redir /docs /docs/ 301

    @docs_categories path_regexp cats ^/docs/categories/?(.*)$
    redir @docs_categories /docs/shelves/{re.cats.1} 301

    @docs_topics path_regexp tops ^/docs/topics/?(.*)$
    redir @docs_topics /docs/books/{re.tops.1} 301

    handle_path /docs* {
        reverse_proxy hosting-control-docs-web:80 {
            header_up X-Forwarded-For {remote_host}
        }
    }
    handle /draw/* {
        reverse_proxy hosting-control-docs-drawio:8080 {
            header_up X-Forwarded-For {remote_host}
        }
    }
    handle /swagger* {
        reverse_proxy hosting-control-swagger:8080  {
            header_up X-Forwarded-For {remote_host}
        }
    }



    ####### API Endpoint #######
    handle /api/* {
        reverse_proxy hosting-control-backend:8000 {
            header_up X-Forwarded-For {remote_host}
        }
    }



    ####### Frontend Endpoint #######
    reverse_proxy hosting-control-frontend:3000 {
        header_up X-Forwarded-For {remote_host}
    }
}



{$HOSTING_DOMAIN}:8443 {
    tls {$TLS_LETSENCRYPT_EMAIL:internal}
    import geo_block_non_vu

    # Disable caching
    header {
        Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
        Pragma "no-cache"
    }

    # Check if user is authenticated
    forward_auth hosting-control-backend:8000 {
        uri /api/checkauth/vm/{http.request.cookie.virtual-server-id}
        # Strip WebSocket headers from the auth request to prevent backend confusion
        header_up -Connection
        header_up -Upgrade
    }

    # Reverse proxy to user's dind
    reverse_proxy hosting-users-dind-{http.request.cookie.virtual-server-id}:10080 {
        header_up X-Forwarded-For {remote_host}
    }

    handle_errors 404 {
        respond "Virtualaus serverio valdymo skydo pasiekti nepavyko." 500
    }

    # Handle errors
    handle_errors {
        respond "Virtualaus serverio valdymo skydo pasiekti nepavyko." 500
    }

}


