openapi: 3.0.3
info:
  title: App Hosting Platform API Documentation
  description: |
    The control-panel API of the VU KnF App Hosting Platform: authentication,
    virtual server management, domain (vhost) management and the admin
    dashboard. Served by the Django backend (`hosting-control-backend`) behind
    the control Caddy endpoint; the Vite SPA is the primary consumer.

    ## Authentication

    Session-cookie based. `POST /api/login` sets the `session` cookie
    (HttpOnly; Secure outside development; browser-session lifetime; the
    session itself is a server-side row). `POST /api/logout` flushes it.
    There are three authorization levels:

    | Level | Meaning |
    |---|---|
    | Public | No session needed (`/api/login`, `/api/logout`, `/api/register`) |
    | User | Any enabled account (401 otherwise) |
    | Admin | Account with the admin flag (401 otherwise) |

    Disabling an account takes effect immediately — live sessions stop
    resolving, login is refused, and SSH lookups return a null hash.

    Caddy also calls two endpoints as forward_auth gates: `/api/checkauth/vm/{id}`
    guards the per-VM tools on :8443, `/api/checkauth/admin` guards /dbgate/*
    and /swagger. Only the status code matters there.

    ## Conventions

    - **Login failures carry machine codes** (`MISSING_EMAIL`,
      `INVALID_CREDENTIALS`, ...) — the login page maps them to wording.
      Every login outcome costs exactly one bcrypt, so response timing
      reveals nothing about account existence or state.
    - **The admin users grid** answers `200 {"type": "ok"}` on success and
      real status codes (400/404/409) with `{"type": "error", "reason": ...}`
      on failure; the reason sentence is rendered by the dialog.
    - **Booleans are exposed as 0/1 integers** (`admin`, `enabled`,
      `iscloudflare`, `ssl`) — the frontend compares strictly.
    - **Timestamps** are local-time strings `"YYYY-MM-DD HH:MM:SS"` (or null),
      except `validUntil`, which is unix epoch seconds — countdown math needs
      an absolute instant.
    - **VM ids are integers** and are a platform-wide contract: id N is
      container `hosting-users-dind-N`, SSH login `serverN` and data
      directory `SERVERS/N`.
    - **Unknown and soft-deleted VMs answer 401 from the access check**
      (uniformly, admins included) on per-VM endpoints; `/api/vm/{id}` may
      also answer 404 while an existing VM's container has not yet been seen
      by the 3-second monitor.
    - `/api/sshrouter` is an **internal service contract** for the SSH router
      container — shared API key, never browser-reachable.
  version: 2.0.0
  contact:
    name: VU KnF

servers:
  - url: https://hosting.knf.vu.lt
    description: Production server
  - url: https://hostingdev.knf.vu.lt
    description: Development server



tags:
  - name: Authentication
    description: Login, logout, registration and the session/forward_auth probes
  - name: Account
    description: The signed-in user's own account (password, registration code, activity)
  - name: Users
    description: The admin users grid (Admin only)
  - name: Virtual Servers
    description: VM list and lifecycle control
  - name: DNS
    description: Domain names (vhosts) of a virtual server
  - name: Dashboard
    description: Admin dashboard metrics
  - name: SSH Router
    description: Internal contract for the SSH router (shared API key)




paths:
  # ============================================
  # AUTHENTICATION
  # ============================================
  /api/login:
    post:
      tags: [Authentication]
      summary: Log in
      description: |
        Verifies the credentials and sets the `session` cookie. Failures
        carry a machine code in `message`; every outcome (success, unknown
        email, wrong password, disabled account) costs exactly one bcrypt,
        so timing is uniform. Email is case-insensitive; both fields are
        stripped of surrounding whitespace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, example: student@knf.vu.lt }
                password: { type: string, format: password }
      responses:
        '200':
          description: Logged in — the session cookie is set
          headers:
            Set-Cookie:
              schema: { type: string, example: session=...; HttpOnly; Path=/ }
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, enum: [OK] }
        '400':
          description: Missing input
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum: [MISSING_CREDENTIALS, MISSING_EMAIL, MISSING_PASSWORD]
        '401':
          description: Unknown email, wrong password OR disabled account — indistinguishable on purpose
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, enum: [INVALID_CREDENTIALS] }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }

  /api/logout:
    post:
      tags: [Authentication]
      summary: Log out
      description: |
        Flushes the session (server-side row + cookie). Needs no login and
        always answers OK — logging out an already-dead session is a
        success. The login page calls this on mount, so opening /login IS
        the logout.
      responses:
        '200':
          description: Session flushed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, enum: [OK] }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }

  /api/register:
    post:
      tags: [Authentication]
      summary: Self-registration with an admin's code
      description: |
        Creates an enabled non-admin account when the registration code is
        an admin's live one (30-minute validity). The activity is logged
        under the admin who owns the code. The password is stripped before
        hashing; minimum 8 characters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [registrationCode, email, password]
              properties:
                registrationCode: { type: string, example: AB12CD34 }
                email: { type: string }
                password: { type: string, format: password, minLength: 8 }
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: 'Registration successful! You can now login.' }
        '400':
          description: Validation failure — the message is rendered verbatim by the form
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                      - No data provided
                      - Registration code is required
                      - Email is required
                      - Password is required
                      - Password must be at least 8 characters
                      - Invalid email format
                      - Invalid registration code
                      - Email already exists
        '405': { $ref: '#/components/responses/MethodNotAllowed' }

  /api/checkauth:
    get:
      tags: [Authentication]
      summary: Who is logged in
      description: |
        The SPA calls this on every page load. Bumps the account's
        "last seen" timestamp at most once per minute.
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: The session's user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthUser' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/checkauth/vm/{virtualServerID}:
    get:
      tags: [Authentication]
      summary: Session probe + VM access check (forward_auth gate)
      description: |
        Like /api/checkauth, additionally requiring access to the VM:
        the owner or any admin, and the VM must exist and not be deleted.
        Caddy calls this as the forward_auth gate of the :8443 VM tools
        (Dockge, File Browser, WebSSH2), including their WebSocket
        upgrades — only the status code matters there.
      security: [{ cookieAuth: [] }]
      parameters:
        - { name: virtualServerID, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Access granted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthUser' }
        '401':
          description: No session, foreign VM, unknown VM or deleted VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }

  /api/checkauth/admin:
    get:
      tags: [Authentication]
      summary: Admin gate (forward_auth for /dbgate/* and /swagger)
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: The session's admin user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthUser' }
        '401': { $ref: '#/components/responses/AdminRequired' }




  # ============================================
  # ACCOUNT
  # ============================================
  /api/account/change-password:
    post:
      tags: [Account]
      summary: Change own password
      description: |
        Verifies the current password, then stores the new one (stripped,
        minimum 8 characters, bcrypt).
      security: [{ cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string, format: password }
                newPassword: { type: string, format: password, minLength: 8 }
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Password changed successfully }
        '400':
          description: Missing input or new password shorter than 8
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401':
          description: No session, or the current password is incorrect
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '404':
          description: Session user no longer exists
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }

  /api/account/registration-code:
    get:
      tags: [Account]
      summary: This admin's live registration code
      description: |
        Admin only. As a side effect, every expired code (any admin's) is
        purged first — the widget polls this, keeping the table clean.
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: The live code
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegistrationCode' }
        '401': { $ref: '#/components/responses/AdminRequired' }
        '404':
          description: No live code
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
    post:
      tags: [Account]
      summary: Create (or replace) this admin's code
      description: One live code per admin — creating again replaces it. Valid 30 minutes.
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: The fresh code
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegistrationCode' }
        '401': { $ref: '#/components/responses/AdminRequired' }
    delete:
      tags: [Account]
      summary: Delete this admin's code
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: Deleted (idempotent)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/AdminRequired' }

  /api/account/recentactivity:
    get:
      tags: [Account]
      summary: Own activity feed
      description: The signed-in user's newest 500 activity rows.
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: Newest first
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ActivityRow' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/GenericFailure' }




  # ============================================
  # USERS (admin grid)
  # ============================================
  /api/admin/users:
    get:
      tags: [Users]
      summary: Every account, with live-VM counts
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: All accounts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/GridUser' }
        '401': { $ref: '#/components/responses/AdminRequired' }
    post:
      tags: [Users]
      summary: Create, update or delete an account
      description: |
        One endpoint, dispatched by `action`:

        - `insertupdate` with `id: ""` creates (password required, min 8);
          with a real `id` updates email/admin/enabled and — only when
          non-empty — the password.
        - `delete` removes the account. Refused for yourself (400) and while
          the account owns non-deleted VMs (409). Deleting detaches history:
          activity rows stay ("Deleted User"), soft-deleted VMs lose their
          owner.

        Success is `200 {"type": "ok"}`; failures use real status codes with
        a `reason` sentence the dialog renders.
      security: [{ cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [insertupdate, delete] }
                id:
                  description: '"" to create, the user id to update/delete'
                  oneOf: [{ type: string }, { type: integer }]
                email: { type: string }
                admin: { type: integer, enum: [0, 1] }
                enabled: { type: integer, enum: [0, 1] }
                password:
                  type: string
                  description: Empty on update = keep the current password
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  type: { type: string, enum: [ok] }
        '400':
          description: Invalid body, password policy, self-delete or illegal action
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GridError' }
        '401': { $ref: '#/components/responses/AdminRequired' }
        '404':
          description: Updated user does not exist
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GridError' }
        '409':
          description: Email already taken, or the account still owns virtual servers
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GridError' }




  # ============================================
  # VIRTUAL SERVERS
  # ============================================
  /api/vm:
    get:
      tags: [Virtual Servers]
      summary: The caller's virtual servers
      description: |
        Driven by the 3-second container cache: a VM appears only while its
        `hosting-users-dind-<id>` container is known to the monitor.
        `showOtherUsers=true` (admin only) lists every user's VMs.
      security: [{ cookieAuth: [] }]
      parameters:
        - name: showOtherUsers
          in: query
          required: false
          schema: { type: string, enum: ['true', 'false'], default: 'false' }
      responses:
        '200':
          description: The VM cards' data, ordered by id
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/VirtualServer' }
        '401':
          description: No session, or showOtherUsers without admin
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }

  /api/vm/{virtualServerID}:
    get:
      tags: [Virtual Servers]
      summary: One virtual server
      security: [{ cookieAuth: [] }]
      parameters:
        - { name: virtualServerID, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: The VM as a plain object
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VirtualServer' }
        '401':
          description: No session, foreign VM, unknown VM or deleted VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '404':
          description: Race guard only — the VM was deleted mid-request (a pending VM answers 200 with state "creating")
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }

  /api/vm/control:
    post:
      tags: [Virtual Servers]
      summary: Create / start / stop / delete / rename
      description: |
        `create` is open to every signed-in user. create and delete are
        ASYNC: the database change commits, the response is 202, and the
        physical work runs in the background — the list shows a "creating"
        card that flips to running (or vanishes, with an activity entry,
        if the build fails); a deleted card disappears immediately and
        comes back if the teardown fails. delete also removes the VM's
        domains and regenerates the users Caddyfile before answering.
        start/stop/rename stay synchronous. All actions except create
        require the owner or an admin and an existing, non-deleted VM
        (404 otherwise). Names are stripped; 3–30 chars of letters,
        numbers, spaces, underscores and parentheses.
      security: [{ cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [create, start, stop, delete, rename] }
                virtualServerID: { type: integer, description: Required for every action except create }
                name: { type: string, description: create only }
                newName: { type: string, description: rename only }
      responses:
        '200':
          description: start/stop/rename done
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, enum: [OK] }
        '202':
          description: create/delete accepted — the physical work finishes in the background; the list reflects the outcome
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, enum: [OK] }
        '400':
          description: Invalid body, invalid id, invalid action or name-rule violation (message rendered verbatim)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401':
          description: No session, or not the owner (non-admin)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '404':
          description: Unknown or deleted VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '500':
          description: The docker sidecar failed or timed out
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }




  # ============================================
  # DNS
  # ============================================
  /api/vm/dns/isvalid:
    get:
      tags: [DNS]
      summary: Live domain validation
      description: |
        The dialog calls this on every keystroke. Rules: 5–39 chars, at
        least one dot, no "..", `[a-zA-Z0-9-_.]` only, starts and ends with
        a letter, not taken by ANOTHER VM.
      security: [{ cookieAuth: [] }]
      parameters:
        - { name: domainname, in: query, required: true, schema: { type: string } }
        - { name: virtualserverid, in: query, required: true, schema: { type: integer } }
      responses:
        '200':
          description: The verdict (also 200 for invalid names)
          content:
            application/json:
              schema:
                type: object
                properties:
                  isvalid: { type: boolean }
                  error_message: { type: string, example: Domain name is valid }
        '400':
          description: Missing domainname parameter
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/vm/dns/{virtualServerID}:
    get:
      tags: [DNS]
      summary: The VM's domains
      security: [{ cookieAuth: [] }]
      parameters:
        - { name: virtualServerID, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: All domains of this VM
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Domain' }
        '401':
          description: No session, foreign VM, unknown VM or deleted VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
    post:
      tags: [DNS]
      summary: Add a domain
      description: |
        Validates, stores lowercased, then pushes the whole domain table to
        the docker sidecar which rewrites and reloads the users Caddyfile —
        INSIDE the request transaction, so a failed push rolls the change
        back and the two can never diverge.
      security: [{ cookieAuth: [] }]
      parameters:
        - { name: virtualServerID, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DomainInput' }
      responses:
        '200':
          description: Added and the users Caddy reloaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, enum: [ok] }
        '400':
          description: Validation failure or the domain is already taken
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReasonError' }
        '401':
          description: No session, foreign VM, unknown VM or deleted VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
    put:
      tags: [DNS]
      summary: Update a domain
      description: |
        Resolved by (domain id AND virtual server id) — a domain id
        belonging to another VM answers 404 and changes nothing, so one
        VM's endpoint can never edit another VM's vhosts.
      security: [{ cookieAuth: [] }]
      parameters:
        - { name: virtualServerID, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - { $ref: '#/components/schemas/DomainInput' }
                - type: object
                  required: [domainid]
                  properties:
                    domainid: { type: integer }
      responses:
        '200':
          description: Updated and the users Caddy reloaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, enum: [ok] }
        '400':
          description: Validation failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReasonError' }
        '401':
          description: No session, foreign VM, unknown VM or deleted VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '404':
          description: The domain id does not belong to this VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReasonError' }

  /api/vm/dns/{virtualServerID}/{domainID}:
    delete:
      tags: [DNS]
      summary: Delete a domain
      description: Scoped by (domain id AND virtual server id), like PUT.
      security: [{ cookieAuth: [] }]
      parameters:
        - { name: virtualServerID, in: path, required: true, schema: { type: integer } }
        - { name: domainID, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Deleted and the users Caddy reloaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, enum: [ok] }
        '401':
          description: No session, foreign VM, unknown VM or deleted VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '404':
          description: The domain id does not belong to this VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReasonError' }




  # ============================================
  # DASHBOARD (admin)
  # ============================================
  /api/dashboard/system:
    get:
      tags: [Dashboard]
      summary: Host gauges (cAdvisor) + Docker Hub pull limits
      description: |
        CPU/memory/disk from cAdvisor samples; the Docker Hub rate-limit
        check is cached 60 s per worker. Polled every 2 s by the widget.
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: The gauges
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SystemGauges' }
        '401': { $ref: '#/components/responses/AdminRequired' }
        '500':
          description: cAdvisor unreachable or unparseable — generic message, no internals
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '503':
          description: Not enough cAdvisor samples yet
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }

  /api/dashboard/recentactivity:
    get:
      tags: [Dashboard]
      summary: The five newest activity rows (all users)
      description: Deleted authors render as "Deleted User".
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: Newest first
          content:
            application/json:
              schema:
                type: array
                maxItems: 5
                items: { $ref: '#/components/schemas/ActivityRow' }
        '401': { $ref: '#/components/responses/AdminRequired' }
        '500': { $ref: '#/components/responses/GenericFailure' }

  /api/dashboard/hostingsystem:
    get:
      tags: [Dashboard]
      summary: Platform totals
      description: The HOST row (VM id 0) and soft-deleted VMs never count.
      security: [{ cookieAuth: [] }]
      responses:
        '200':
          description: The totals
          content:
            application/json:
              schema:
                type: object
                properties:
                  users: { type: integer }
                  virtualservers_running: { type: integer }
                  virtualservers_total: { type: integer }
                  domains: { type: integer }
        '401': { $ref: '#/components/responses/AdminRequired' }
        '500': { $ref: '#/components/responses/GenericFailure' }




  # ============================================
  # SSH ROUTER (internal)
  # ============================================
  /api/sshrouter:
    post:
      tags: [SSH Router]
      summary: 'INTERNAL: upstream data for a server<N> SSH login'
      description: |
        Service contract for the `hosting-users-ssh-router` container — never
        browser-reachable. The shared API key is compared in constant time,
        and the endpoint fails CLOSED (503) when the key is not configured.
        The router verifies the SSH password against `password_hash`;
        `null` (no owner, or a DISABLED owner) can never verify — disabling
        an account ends its SSH access. Deleted VMs answer 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, api_key]
              properties:
                username: { type: string, example: server42 }
                api_key: { type: string }
      responses:
        '200':
          description: Where to proxy and what to verify against
          content:
            application/json:
              schema:
                type: object
                properties:
                  password_hash:
                    type: string
                    nullable: true
                    description: The owner's bcrypt hash; null can never verify
                  upstream_host: { type: string, example: hosting-users-dind-42 }
                  upstream_port: { type: string, example: '22' }
                  upstream_user: { type: string, example: root }
                  upstream_pass: { type: string, example: root }
        '400':
          description: Missing/malformed username, non-numeric id or non-string key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401':
          description: Wrong API key
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '404':
          description: Unknown or deleted VM
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '503':
          description: BACKEND_SSH_API_KEY not configured — fails closed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }




components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session
      description: Set by POST /api/login (HttpOnly; Secure outside development)

  responses:
    Unauthorized:
      description: No valid session (or the account was disabled)
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string, example: Unauthorized }
    AdminRequired:
      description: No valid session, or the account is not an admin
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string, example: 'Unauthorized: Admin required' }
    MethodNotAllowed:
      description: Wrong HTTP method
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string, example: Method not allowed }
    GenericFailure:
      description: Unexpected server failure — generic message, details only in the server log
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }

  schemas:
    Message:
      type: object
      properties:
        message: { type: string }

    ReasonError:
      type: object
      properties:
        message: { type: string, example: Error }
        reason: { type: string, example: Domain name is already taken }

    GridError:
      type: object
      properties:
        type: { type: string, enum: [error] }
        reason: { type: string, example: User with this email already exists }

    AuthUser:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        admin: { type: integer, enum: [0, 1] }

    GridUser:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        servercount: { type: integer, description: Non-deleted VMs owned }
        admin: { type: integer, enum: [0, 1] }
        enabled: { type: integer, enum: [0, 1] }
        lastseen:
          type: string
          nullable: true
          example: '2026-08-10 14:30:00'
          description: Bumped by checkauth at most once a minute; null = never seen

    RegistrationCode:
      type: object
      properties:
        message: { type: string }
        code: { type: string, example: AB12CD34 }
        validUntil:
          type: integer
          example: 1780000000
          description: Unix epoch seconds — the widget's countdown needs an absolute instant

    ActivityRow:
      type: object
      properties:
        log_id: { type: integer }
        email: { type: string, description: '"Deleted User" when the author is gone' }
        message: { type: string, description: Rendered verbatim by the widgets }
        time: { type: string, example: '2026-08-10 14:30:00' }

    VirtualServer:
      type: object
      properties:
        id: { type: integer, description: 'The platform contract: container/SSH/directory name' }
        name: { type: string }
        status: { type: string, nullable: true, example: Up 2 hours, description: Docker CLI display string; null while no container exists }
        state:
          type: string
          example: running
          description: |
            Docker's state while the container exists; synthesized
            otherwise — "creating" for a fresh row whose container has not
            appeared yet, "unknown" for an old row without one.
        enabled: { type: integer, enum: [0, 1], description: The intended state (start/stop) }
        owneremail: { type: string, nullable: true, description: Null for adopted/ownerless VMs }
        stacks:
          type: array
          nullable: true
          description: Containers inside the VM, grouped by compose project ('' = compose-less)
          items:
            type: object
            properties:
              stackname: { type: string }
              containers:
                type: array
                items:
                  type: object
                  properties:
                    image: { type: string }
                    names: { type: string }
                    runningfor: { type: string }
                    state: { type: string }
                    status: { type: string }
        domains:
          type: array
          nullable: true
          description: Like Domain but without virtualserverid (it is the card's own VM)
          items:
            type: object
            properties:
              id: { type: integer }
              domainname: { type: string }
              iscloudflare: { type: integer, enum: [0, 1] }
              ssl: { type: integer, enum: [0, 1] }
        usage:
          type: object
          nullable: true
          description: |
            The monitor's resource telemetry — null while nothing has been
            measured. CPU% is a share of the whole host (no per-VM quotas
            exist); memory is the working set; disk is the SERVERS/<id>
            tree measured by du every ~5 minutes. CPU/RAM are null while
            the VM is not running.
          properties:
            cpu_percent: { type: number, nullable: true, example: 12.3 }
            memory_mb: { type: integer, nullable: true, example: 2759 }
            disk_mb: { type: integer, nullable: true, example: 18432 }
            cpu_measured_at: { type: string, nullable: true, example: '2026-08-10 14:30:00' }
            disk_measured_at: { type: string, nullable: true, example: '2026-08-10 14:28:00' }

    Domain:
      type: object
      properties:
        id: { type: integer }
        virtualserverid: { type: integer }
        domainname: { type: string, example: mano.svetaine.lt }
        iscloudflare: { type: integer, enum: [0, 1] }
        ssl: { type: integer, enum: [0, 1] }

    DomainInput:
      type: object
      required: [domainname, iscloudflare, ssl]
      properties:
        domainname: { type: string, description: Stored lowercased }
        iscloudflare: { type: integer, enum: [0, 1] }
        ssl: { type: integer, enum: [0, 1] }
