@import "tailwindcss";


@layer base {
  h1 {
    font-size: var(--text-3xl);
    font-weight: bold;
    margin-bottom: 10px;
  }
  h2 {
    font-size: var(--text-2xl);
    font-weight: bold;
    margin-bottom: 10px;
  }
  h3 {
    font-size: var(--text-xl);
    font-weight: bold;
    margin-bottom: 10px;
  }
}