services:

  sistema-endpoint:
    container_name: sistema-endpoint
    image: caddy:2.10-alpine
    read_only: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
    ports:
      - 10080:80
    networks:
      - external
      - isolated
    restart: unless-stopped


  sistema-dockge:
    container_name: sistema-dockge
    image: louislam/dockge:1.5.0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./dockge/data:/app/data
      - /apps/aplikacijos:/apps/aplikacijos
    environment:
      - DOCKGE_STACKS_DIR=/apps/aplikacijos
      - DOCKGE_ENABLE_CONSOLE=true
    networks:
      - isolated
    restart: unless-stopped


  sistema-filebrowser:
    container_name: sistema-filebrowser
    image: vuknf/filebrowser-unauth:20260111
    read_only: false
    volumes:
      - /apps/aplikacijos:/data
    networks:
      - isolated
    restart: unless-stopped


  sistema-webssh2:
    container_name: sistema-webssh2
    image: billchurch/webssh2:2.3.5
    networks:
      - external
    restart: unless-stopped



networks:
  external:
    external: true
  isolated:
    name: sistema-isolated
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 172.18.1.0/24
          gateway: 172.18.1.1
