########################################################
################### NON SYSTEM BLOCKER #################
########################################################
(system_components_ip_addresses) {
    remote_ip 172.19.1.0/24 # hosting-control-docker
}

(block_non_system) {
    @block_non_system {
        not {
            import system_components_ip_addresses
        }
    }

    header @block_non_system Content-Type "text/html; charset=utf-8"
    respond @block_non_system `<!DOCTYPE html>
    <html>
        <body>
            <p>Virtual server management endpoint is not accessible from your IP address.</p>
            <p>Your IP address: {remote_host}</p>
            <hr>
        </body>
    </html>` 403
}
########################################################
########################################################
########################################################





:80 {
    import block_non_system

    # Disable caching
    header {
        Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
        Pragma "no-cache"
    }

    # Reverse proxy to user's dind
    reverse_proxy hosting-users-dind-{http.request.cookie.virtual-server-id}:10080

    handle_errors 404 {
        respond "Virtualaus serverio valdymo skydo pasiekti nepavyko." 500
    }

    # Handle errors
    handle_errors {
        respond "Virtualaus serverio valdymo skydo pasiekti nepavyko." 500
    }

}


